mavenEETicketLibrary/src/wsdl/GetBatchTicketSRV.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://siberia.russianpost.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://siberia.russianpost.ru/" name="GetBatchTicketSRV" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<types>
<xsd:schema>
<xsd:import namespace="http://siberia.russianpost.ru/" schemaLocation="http://r54oth01:8080/GetBatchTicketSRV/GetBatchTicketSRV?xsd=1"/>
</xsd:schema>
</types>
<message name="GetBatchTickets">
<part name="parameters" element="tns:GetBatchTickets"/>
</message>
<message name="GetBatchTicketsResponse">
<part name="parameters" element="tns:GetBatchTicketsResponse"/>
</message>
<message name="SystemException">
<part name="fault" element="tns:SystemException"/>
</message>
<message name="NotSupportedException">
<part name="fault" element="tns:NotSupportedException"/>
</message>
<message name="GetReadyAnswer">
<part name="parameters" element="tns:GetReadyAnswer"/>
</message>
<message name="GetReadyAnswerResponse">
<part name="parameters" element="tns:GetReadyAnswerResponse"/>
</message>
<message name="Test">
<part name="parameters" element="tns:Test"/>
</message>
<message name="TestResponse">
<part name="parameters" element="tns:TestResponse"/>
</message>
<portType name="GetBatchTicketSRV">
<operation name="GetBatchTickets">
<input wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetBatchTicketsRequest" message="tns:GetBatchTickets"/>
<output wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetBatchTicketsResponse" message="tns:GetBatchTicketsResponse"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetBatchTickets/Fault/SystemException"/>
<fault message="tns:NotSupportedException" name="NotSupportedException" wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetBatchTickets/Fault/NotSupportedException"/>
</operation>
<operation name="GetReadyAnswer">
<input wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetReadyAnswerRequest" message="tns:GetReadyAnswer"/>
<output wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetReadyAnswerResponse" message="tns:GetReadyAnswerResponse"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetReadyAnswer/Fault/SystemException"/>
<fault message="tns:NotSupportedException" name="NotSupportedException" wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/GetReadyAnswer/Fault/NotSupportedException"/>
</operation>
<operation name="Test">
<input wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/TestRequest" message="tns:Test"/>
<output wsam:Action="http://siberia.russianpost.ru/GetBatchTicketSRV/TestResponse" message="tns:TestResponse"/>
</operation>
</portType>
<binding name="GetBatchTicketSRVPortBinding" type="tns:GetBatchTicketSRV">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetBatchTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
<fault name="NotSupportedException">
<soap:fault name="NotSupportedException" use="literal"/>
</fault>
</operation>
<operation name="GetReadyAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
<fault name="NotSupportedException">
<soap:fault name="NotSupportedException" use="literal"/>
</fault>
</operation>
<operation name="Test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GetBatchTicketSRV">
<port name="GetBatchTicketSRVPort" binding="tns:GetBatchTicketSRVPortBinding">
<soap:address location="http://r54oth01:8080/GetBatchTicketSRV/GetBatchTicketSRV"/>
</port>
</service>
    <jaxws:bindings>
        <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
    </jaxws:bindings>
</definitions>